/* ? Custom Properties */
:root {
    --first-color-gradient: rgba(2, 0, 36, 1) 0%;
    --second-color-gradient: rgba(9, 9, 121, 1) 40%;
    --third-color-gradient: rgba(30, 120, 225, 1) 100%;

    --primary-color: rgb(30, 120, 225);

    --link-color: rgb(80, 158, 227);
    --link-alpha-color: rgba(80, 158, 227, 0.75);

    --bg-offcanvas-color: rgb(31, 31, 31);
}

/* TODO Reset Styles */
body {
    overflow: auto;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: var(--link-color);
    transition: all .3s ease-out;
}

a:hover {
    color: var(--link-alpha-color);
}

a:focus {
    color: var(--link-alpha-color);
}

a[tabindex]:focus {
    color: var(--link-alpha-color);
    outline: none;
}

a:active{
    color: var(--link-color);
}

/* ! Bootstrap Styles */
.card {
    z-index: 1;
}

.offcanvas-title {
    color: var(--bs-gray-200);
}

.nav-item {
    transition: all 0.3s ease-out;
}

.nav-link {
    color: var(--bs-gray-200);
    font-size: 1.07rem;
    font-weight: bold;
    margin-left: 0.5rem;
}

.nav-link:hover {
    color: var(--primary-color);
    opacity: 0.75;
}

.navlink-item::marker{
    color: var(--bs-gray-200);
}

/* * Custom Styles */
.moduleActive {
    color: var(--primary-color);
}

.bg-color {
    background: linear-gradient(90deg, var(--first-color-gradient), var(--second-color-gradient), var(--third-color-gradient));
}

.box-menu {
    position: absolute;
    left: 10px;
    top: 30px;
    cursor: pointer;
    background: var(--primary-color);
    width: 60px;
    height: 60px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, .3);
    border-radius: 60px;
    z-index: 2;
}

#clock {
    width: 40%;
    margin: auto;
    background: var(--bs-gray-200);
    border-radius: 25px;
}

.hamburger {
    position: absolute;
    left: 22px;
    top: 22px;
    width: 16px;
    height: 16px;
}

.hamburger span {
    position: absolute;
    display: inline-block;
    height: 2px;
    width: 100%;
    background: var(--bs-white);
    border-radius: 10px;
    /*transition: top .3s, transform .3s, left .3s, width .3s;*/
    transition: all .3s;
}

.hamburger span:nth-child(1) {
    top: 3px;
}

.hamburger span:nth-child(2) {
    top: 8px;
}

.hamburger span:nth-child(3) {
    top: 8px;
}

.hamburger span:nth-child(4) {
    top: 13px;
}

.offcanvas-bg {
    background: var(--bg-offcanvas-color);
}

.offcanvas-body li[li_id="user-info"] {
    position: absolute;
    bottom: 0;
    width: 80%;
}

.offcanvas-body li[li_id="user-info"]>a>span {
    display: block;
    float: right;
    font-size: 0.9em;
    position: relative;
    opacity: 0.6;
}

.offcanvas-body li[li_id="user-info"]>a>span:after {
    content: '';
    width: 12px;
    height: 12px;
    display: block;
    position: absolute;
    background: var(--bs-success);
    left: -20px;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
}

.wrapper {
    position: relative;
    width: 60px;
    height: 60px;
}

/* Formulario  */
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}

/*headings*/
.fs-title {
    text-transform: uppercase;
}

/*progressbar*/
#progressbar {
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    text-transform: uppercase;
    width: 25%;
    float: left;
    position: relative;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 25px;
    line-height: 25px;
    display: block;
    font-size: 13px;
    color: var(--first-color-gradient);
    background: var(--bs-gray-200);
    border-radius: 3px;
    margin: 0 auto 0 auto;
}

/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: var(--bs-gray-200);
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1;
    /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
    background: var(--bs-success);
    color: var(--bs-white);
}

/*  X-Small devices (portrait phones, less than 576px) */
/*  No media query for `xs` since this is the default in Bootstrap */

/*  Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/*  X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/*  XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}


.scroll {
    overflow-y: auto;
}

.scroll::-webkit-scrollbar {
    -webkit-appearance: none;
}

.scroll::-webkit-scrollbar:vertical {
    width:10px;
}

.scroll::-webkit-scrollbar-button:increment,.scroll::-webkit-scrollbar-button {
    display: none;
} 

.scroll::-webkit-scrollbar:horizontal {
    height: 10px;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: #6499E9;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.scroll::-webkit-scrollbar-track {
    border-radius: 10px;  
}