#filterOptions {
    position: relative;
    z-index: 999;   
}

.remove-filter {
    cursor: pointer;
    color: red;
}

#filterButton {
    height: 100%;
}

#map-container {
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }

#map {
    height: 100%; 
    width: 100%;
}

.legend {
    background: #fff;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.legend p {
    margin-bottom: 5px;
    font-size: 16px;
}
.legend div {
    margin-bottom: 5px;
}
.legend div span {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: middle;
}

#buttonOnOff {
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
}

.Contenido {  
    display: grid;
    grid-template-columns: 0.5% 20% 5.5% 74%;
    grid-template-rows: 0.5% 98% 1.5%; 
    gap: 0px 0px;
    grid-auto-flow: row;
}

.Mapa { grid-area: 1 / 1 / 4 / 5; }

.Selector {
    grid-area: 2 / 2 / 3 / 3; 
    z-index: 2;

    display: grid; 
    grid-template-columns: 100%; 
    grid-template-rows: 5% 2% auto; 
    gap: 0px 0px; 
    grid-template-areas: 
        "Busqueda"
        "."
        "Dispositivos"; 
}

.modified-rows {
    grid-template-rows: 30% 2% 68%;
}

.Busqueda { grid-area: Busqueda; }

.Cerrar {
  align-self: start; 
  grid-area: 2 / 3 / 3 / 4;
  z-index: 2; 
}

.Dispositivos { 
    grid-area: Dispositivos;
    max-height: 100%;
    /*-ms-overflow-style: none;
    scrollbar-width: none;*/
    /* cursor: grab; */  
}


.dispositivo {
    display: grid; 
    grid-template-columns: 65% 20% 20%; 
    grid-template-rows: 60% 40%; 
    gap: 0px 0px; 
    grid-template-areas: 
        "Nombre Power Detalles"
        "id Power Detalles"; 
}

.Nombre {
    justify-self: start; 
    grid-area: Nombre; 
    font-size: clamp(1rem, 1.3vw, 1.2rem);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%; /* O ajusta según sea necesario */
    cursor: pointer; /* Cambia el cursor para indicar que es interactivo */
    position: relative; /* Necesario para la posición absoluta del contenido completo */
}

.Nombre::after {
    content: attr(data-full-text); /* Mostrar el texto completo del atributo de datos */
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    white-space: normal; /* Permite el ajuste automático del texto */
    background-color: #fff; /* Ajusta el color de fondo según tu diseño */
    border: 1px solid #ccc; /* Agrega un borde para resaltar el contenido */
    padding: 5px; /* Ajusta el relleno según sea necesario */
    max-width: 300px; /* Ajusta el ancho máximo del cuadro emergente */
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.Nombre:hover::after {
    visibility: visible;
    opacity: 1;
}

.id {
    justify-self: start; 
    grid-area: id;
    font-size: 11px; 
}

.Power {
    justify-self: center; 
    align-self: center; 
    grid-area: Power; 
}

.Detalles {
    justify-self: center; 
    align-self: center; 
    grid-area: Detalles; 
}

.mt-n1 {
    margin-top: -0.29rem !important;
}


html, body , .contenido {
    height: 100%;
    margin: 0;
}

.dispositivod {
    display: grid; 
    grid-template-columns: 98% 1% 1%; 
    grid-template-rows: 60% 40%; 
    gap: 0px 0px; 
    grid-template-areas: 
        "Nombre Power Detalles"
        "id Power Detalles"; 
}



#sidebar {
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
}

#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
}

.navbar-btn {
    margin: 2px;
    box-shadow: none;
    outline: none !important;
    border: line;
    border-width: thin;
    border-color: #0d6efd;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #fff;
    cursor: pointer;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    
    
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}

#sidebarCollapse.active {
    position: relative;
    transform: translate(-20vw, 4vw);
}

#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}

@media only screen and (max-width: 415px) {
    .Contenido {  
        display: grid;
        grid-template-columns: 0.5% 70% 5.5% 24%;
        grid-template-rows: 0.5% 98% 1.5%; 
        gap: 0px 0px;
        grid-auto-flow: row;
    }

    #sidebarCollapse.active {
        position: relative;
        transform: translate(-69vw, 13vw);
    }
}

@media only screen and (min-width: 416px) and (max-width: 541px) {
    .Contenido {  
        display: grid;
        grid-template-columns: 0.5% 70% 5.5% 24%;
        grid-template-rows: 0.5% 98% 1.5%; 
        gap: 0px 0px;
        grid-auto-flow: row;
    }

    #sidebarCollapse.active {
        position: relative;
        transform: translate(-69vw, 10vw);
    }
}

@media only screen and (min-width: 542px) and (max-width: 912px) {
    .Contenido {  
        display: grid;
        grid-template-columns: 0.5% 30% 5.5% 64%;
        grid-template-rows: 0.5% 98% 1.5%; 
        gap: 0px 0px;
        grid-auto-flow: row;
    }

    #sidebarCollapse.active {
        position: relative;
        transform: translate(-30vw, 6vw);
    }
}

@media only screen and (min-width: 913px) and (max-width: 1062px) {
    .dispositivo {
        display: grid; 
        grid-template-columns: 65% 20% 20%; 
        grid-template-rows: 60% 40%; 
        gap: 0px 0px; 
        grid-template-areas: 
            "Nombre Power Detalles"
            "id Power Detalles"; 
    }

    .Contenido {  
        display: grid;
        grid-template-columns: 0.5% 25% 5.5% 69%;
        grid-template-rows: 0.5% 98% 1.5%; 
        gap: 0px 0px;
        grid-auto-flow: row;
    } 

    .Nombre {
        justify-self: start; 
    grid-area: Nombre; 
    font-size: clamp(1rem, 1.3vw, 1.2rem);
    overflow: hidden;
    text-overflow: ellipsis; /* Agrega puntos suspensivos (...) cuando el texto es recortado */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    max-width: 100%; /* O ajusta según sea necesario */

    }
    

    .id {
        justify-self: start; 
        grid-area: id;
        font-size: 9px; 
    }

    #sidebarCollapse.active {
        position: relative;
        transform: translate(-25vw, 5vw);
    }
}
#colorSquare {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
.map-type-control{
   right: 10px !important
}

.dispositivo.active {
    background-color: #007bff; /* Color de fondo para botón activo */
    color: white; /* Color de texto para botón activo */
}