<div class="container">
    <div class="card m-3">
        <h4 class="card-header fw-bold text-center">Registro de nueva unidad</h4>
        <div class="card-body text-center">
            <form
                id="datos_vehiculos"
                method="post"
                enctype="multipart/form-data"
                class="row g-3 p-3 needs-validation" novalidate>
                <div class="col-sm-12 col-md-4">
                    <label
                        for="serie"
                        class="form-label">
                        Número de Serie
                    </label>
                    <input
                        type="text"
                        class="form-control"
                        id="serie"
                        name="serie"
                        placeholder="Número de serie"
                        pattern="[0-9A-Z]{17}"
                        minlength="17"
                        maxlength="17"
                        required
                        autocomplete="off">
                </div>
                <div class="col-sm-12 col-md-4">
                    <label
                        for="placa"
                        class="form-label">
                        Número de Placa
                    </label>
                    <input
                        type="text"
                        class="form-control"
                        id="placa"
                        name="placa"
                        placeholder="XXX-XXX-XXX"
                        pattern="[0-9A-Z\-]{6,10}"
                        minlength="6"
                        maxlength="10"
                        required
                        autocomplete="off">
                </div>
                <div class="col-sm-12 col-md-4">
                    <label
                        for="marca"
                        class="form-label">
                        Marca
                    </label>
                    <input
                        type="text"
                        class="form-control"
                        id="marca"
                        name="marca"
                        placeholder="Marca"
                        maxlength="20"
                        pattern="[0-9a-zA-ZñáéíóúÑÁÉÍÓÚ\s\-]{2,20}"
                        required
                        autocomplete="off">
                </div>
                <div class="col-sm-12 col-md-4">
                    <label
                        for="linea"
                        class="form-label">
                        Línea
                    </label>
                    <input
                        type="text"
                        class="form-control"
                        id="linea"
                        name="linea"
                        placeholder="Línea"
                        maxlength="45"
                        pattern="[0-9a-zA-ZñáéíóúÁÉÍÓÚÑ\s\-]{2,45}"
                        required
                        autocomplete="off">
                </div>
                <div class="col-sm-12 col-md-4">
                    <label
                        for="modelo"
                        class="form-label">
                        Año
                    </label>
                    <input
                        type="text"
                        class="form-control"
                        id="modelo"
                        name="modelo"
                        placeholder="20XX"
                        minlength="4"
                        maxlength="4"
                        pattern="[0-9]{4}"
                        required
                        autocomplete="off">
                </div>
                <div class="col-sm-12 col-md-4">
                    <label
                        for="color"
                        class="form-label">
                        Color
                    </label>
                    <input
                        type="text"
                        class="form-control"
                        id="color"
                        name="color"
                        placeholder="Color"
                        minlength="3"
                        maxlength="20"
                        pattern="[a-zA-ZáéíóúñÁÉÍÓÚÑ\s]{3,20}"
                        required
                        autocomplete="off">
                </div>
                <div class="col-sm-12 col-md-4">
                    <label
                        for="transmision"
                        class="form-label">
                        Transmisión
                    </label>
                    <select
                        class="form-select"
                        id="transmision"
                        name="transmision"
                        required>
                        <option selected disabled value="">Seleccione</option>
                        <option value="Standar">Standar</option>
                        <option value="Automática">Automática</option>
                    </select>
                </div>
                <div class="col-sm-12 col-md-4">
                    <label
                        for="cilindros"
                        class="form-label">
                        Número de cilindros
                    </label>
                    <select
                        class="form-select"
                        id="cilindros"
                        name="cilindros"
                        required>
                        <option selected disabled value="">Seleccione</option>
                        <option value="4">4</option>
                        <option value="6">6</option>
                        <option value="8">8</option>
                        <option value="10">10</option>
                        <option value="12">12</option>
                    </select>
                </div>
                <div class="col-sm-12 col-md-4">
                    <label
                        for="tarifa"
                        class="form-label">
                        Tarifa por día ($MXN)
                    </label>
                    <div class="input-group mb-3">
                        <span class="input-group-text">
                            <i class="bi bi-currency-dollar"></i>
                        </span>
                        <input
                            type="text"
                            class="form-control"
                            id="tarifa"
                            name="tarifa"
                            placeholder="XXXXX"
                            minlength="3"
                            maxlength="5"
                            pattern="[0-9]{3,5}"
                            required
                            autocomplete="off">
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <label
                        for="carga"
                        class="form-label">
                        Capacidad de carga (Kg)
                    </label>
                    <div class="input-group mb-3">
                        <span class="input-group-text">
                            <i class="bi bi-box-fill"></i>
                        </span>
                        <input
                            type="text"
                            class="form-control"
                            id="carga"
                            name="carga"
                            placeholder="0000"
                            minlength="3"
                            maxlength="5"
                            pattern="[0-9]{3,5}"
                            required
                            autocomplete="off">
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <label
                        for="numpoliza"
                        class="form-label">
                        Número de póliza
                    </label>
                    <input
                        type="text"
                        class="form-control"
                        id="numpoliza"
                        name="numpoliza"
                        placeholder="XXXXXXXXXXXX"
                        minlength="6"
                        maxlength="13"
                        pattern="[0-9]{6,13}"
                        required
                        autocomplete="off">
                </div>
                <div class="col-sm-12 col-md-4">
                    <label
                        for="aseguradora"
                        class="form-label">
                        Aseguradora
                    </label>
                    <input
                        type="text"
                        class="form-control"
                        id="aseguradora"
                        name="aseguradora"
                        placeholder="Insurance"
                        minlength="3"
                        maxlength="20"
                        pattern="[a-zA-ZáéíóúñÁÉÍÓÚÑ\s]{3,20}"
                        required
                        autocomplete="off">
                </div>
                <div class="col-sm-12 col-md-4">
                    <label
                        for="f_expedicion"
                        class="form-label">
                        Expedición de póliza
                    </label>
                    <input
                        type="date"
                        class="form-control"
                        id="f_expedicion"
                        name="f_expedicion"
                        min="2019-01-01"
                        max="2035-01-01"
                        required>
                </div>
                <div class="col-sm-12 col-md-4">
                    <label
                        for="f_vencimiento"
                        class="form-label">
                        Vencimiento de póliza
                    </label>
                    <input
                        type="date"
                        class="form-control"
                        name="f_vencimiento"
                        id="f_vencimiento"
                        min="2019-01-01"
                        max="2035-01-01"
                        required>
                </div>
                <div class="col-12">
                    <button
                        type="submit"
                        id="fVehiculoSubmit"
                        class="btn btn-success">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script src="arrendamientos/js/alta_vehiculo.js"></script>