<div class="card m-3">
    <div class="card-header fs-4 fw-bold text-center">
        Consulta vehículos
    </div>
    <div class="card-body text-center">
        <p class="fs-4">Listado de vehículos</p>
        <table
            class="table"
            id="table_vehiculos"
            data-toggle="table"
            data-locale="es-MX"
            data-search="true"
			data-filter-control="true"
            data-show-search-clear-button="true"
            data-loading-template="loadingTemplate"
            data-show-footer="false"
            data-show-refresh="true"
  data-show-toggle="true"
  data-show-columns="true"
  data-show-export="true"
            data-silent-sort="false">
        </table>
    </div>
</div>

<!-- Edit Modal -->
<main
    class="modal fade modal-xl"
    id="editModal"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="editModalLabel"
    aria-hidden="true">
    <section class="modal-dialog modal-fullscreen-lg-down">
        <section class="modal-content">
            <section class="modal-header">
                <h5
                    class="modal-title"
                    id="editModalLabel">
                    Editar datos de vehículo
                </h5>
                <button
                    type="button"
                    id="btn-close-modal"
                    class="btn-close"
                    aria-label="Close">
                </button>
            </section>
            <section class="modal-body">
                <form
                    method="post"
                    id="frm_edit_vehiculo"
                    class="row text-center">
                    <input
                        type="text"
                        id="idVehiculo"
                        name="idVehiculo"
                        hidden
                        objref="id">
                    <div class="row">
                        <section class="col-md-6 my-2">
                            <label
                                for="serie"
                                class="form-label">
                                Número de serie
                            </label>
                            <input
                                type="text"
                                class="form-control"
                                id="serie"
                                name="serie"
                                pattern="[0-9A-Z]{17}"
                                minlength="17"
                                maxlength="17"
                                required
                                autocomplete="off"
                                objref="serie">
                        </section>
                        <section class="col-md-6 my-2">
                            <label
                                for="placa"
                                class="form-label">
                                Número de placa
                            </label>
                            <input
                                type="text"
                                class="form-control"
                                id="placa"
                                name="placa"
                                pattern="[0-9A-Z\-]{6,10}"
                                minlength="6"
                                maxlength="10"
                                required
                                autocomplete="off"
                                objref="placa">
                        </section>
                    </div>
                    <div class="row">
                        <section class="col-md-4 my-2">
                            <label
                                for="marca"
                                class="form-label">
                                Marca
                            </label>
                            <input
                                type="text"
                                class="form-control"
                                id="marca"
                                name="marca"
                                pattern="[0-9a-zA-ZñáéíóúÑÁÉÍÓÚ\s\-]{2,20}"
                                minlength="2"
                                maxlength="20"
                                required
                                autocomplete="off"
                                objref="marca">
                        </section>
                        <section class="col-md-4 my-2">
                            <label
                                for="linea"
                                class="form-label">
                                Línea
                            </label>
                            <input
                                type="text"
                                class="form-control"
                                id="linea"
                                name="linea"
                                pattern="[0-9a-zA-ZñáéíóúÁÉÍÓÚÑ\s\-]{2,45}"
                                minlength="2"
                                maxlength="45"
                                required
                                autocomplete="off"
                                objref="linea">
                        </section>
                        <section class="col-md-4 my-2">
                            <label
                                for="modelo"
                                class="form-label">
                                Modelo
                            </label>
                            <input
                                type="text"
                                class="form-control"
                                id="modelo"
                                name="modelo"
                                pattern="[0-9]{4}"
                                minlength="4"
                                maxlength="4"
                                required
                                autocomplete="off"
                                objref="modelo">
                        </section>
                    </div>
                    <div class="row">
                        <section class="col-md-6 my-2">
                            <label
                                for="color"
                                class="form-label">
                                Color
                            </label>
                            <input
                                type="text"
                                class="form-control"
                                id="color"
                                name="color"
                                pattern="[a-zA-ZáéíóúñÁÉÍÓÚÑ]{3,20}"
                                minlength="3"
                                maxlength="20"
                                required
                                autocomplete="off"
                                objref="color">
                        </section>
                        <section class="col-md-6 my-2">
                            <label
                                for="transmision"
                                class="form-label">
                                Transmisión
                            </label>
                            <select
                                class="form-select"
                                name="transmision"
                                id="transmision"
                                required
                                objref="transmision">
                                <option selected disabled value="">Seleccione</option>
                                <option value="Standar">Standar</option>
                                <option value="Automática">Automática</option>
                            </select>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col-md-6 my-2">
                            <label
                                for="cilindros"
                                class="form-label">
                                Número de cilindros
                            </label>
                            <select
                                class="form-select"
                                id="cilindros"
                                name="cilindros"
                                required
                                objref="cilindros">
                                <option selected disabled value="">Seleccione</option>
                                <option value="4">4</option>
                                <option value="6">6</option>
                                <option value="8">8</option>
                                <option value="10">10</option>
                                <option value="12">12</option>
                            </select>
                        </section>
                        <section class="col-md-6 my-2">
                            <label
                                for="capacidadCarga"
                                class="form-label">
                                Capacidad de carga (Kg)
                            </label>
                            <div class="input-group mb-3">
                                <span class="input-group-text">
                                    <i class="bi bi-box-fill"></i>
                                </span>
                                <input
                                    type="text"
                                    class="form-control"
                                    id="capacidadCarga"
                                    name="capacidadCarga"
                                    minlength="3"
                                    maxlength="5"
                                    pattern="[0-9]{3,5}"
                                    required
                                    autocomplete="off"
                                    objref="capacidadCarga">
                            </div>
                        </section>
                        <section class="my-2">
                            <input
                                id="disponibilidad"
                                hidden
                                objref="disponibilidad">
                            <div class="form-check form-check-inline">
                            <input
                                class="form-check-input"
                                type="radio"
                                name="radioOptions"
                                id="radio0"
                                value="0">
                            <label
                                class="form-check-label"
                                for="radio0">Disponible</label>
                            </div>
                            <div class="form-check form-check-inline">
                            <input
                                class="form-check-input"
                                type="radio"
                                name="radioOptions"
                                id="radio1"
                                value="1">
                            <label
                                class="form-check-label"
                                for="radio1">Arrendado</label>
                            </div>
                            <div class="form-check form-check-inline">
                            <input
                                class="form-check-input"
                                type="radio"
                                name="radioOptions"
                                id="radio2"
                                value="2">
                            <label
                                class="form-check-label"
                                for="radio2">Fuera de servicio</label>
                            </div>
                        </section>
                    </div>
                    <div class="row">
                        <section
                            class="offset-md-3 col-md-6 my-2">
                            <button
                                type="submit"
                                id="fcmVehiculoSubmit"
                                class="btn btn-primary">
                                Actualizar
                            </button>
                        </section>
                    </div>
                </form>
            </section>
        </section>
    </section>
</main>

<!-- Póliza Modal -->
<main
    class="modal fade modal-md"
    id="polizaModal"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="polizaModalLabel"
    aria-hidden="true">
    <section class="modal-dialog modal-fullscreen-lg-down">
        <section class="modal-content">
            <section class="modal-header">
                <h5
                    class="modal-title"
                    id="polizaModalLabel">
                    Registrar nueva póliza de seguro
                </h5>
                <button
                    type="button"
                    id="btn-close-poliza"
                    class="btn-close"
                    aria-label="Close">
                </button>
            </section>
            <section class="modal-body">
                <form
                    method="post"
                    id="frm_poliza_vehiculo"
                    class="row text-center">
                    <input
                        type="text"
                        id="idVehiculoP"
                        name="idVehiculoP"
                        hidden
                        objref="id">
                    <div class="row">
                        <section class="my-2">
                            <label
                                for="numeroPoliza"
                                class="form-label">
                                Número de póliza
                            </label>
                            <input
                                type="text"
                                class="form-control"
                                id="numeroPoliza"
                                name="numeroPoliza"
                                pattern="[0-9]{6,13}"
                                minlength="6"
                                maxlength="13"
                                required
                                autocomplete="off">
                        </section>
                        <section class="my-2">
                            <label
                                for="aseguradora"
                                class="form-label">
                                Aseguradora
                            </label>
                            <input
                                type="text"
                                class="form-control"
                                id="aseguradora"
                                name="aseguradora"
                                pattern="[a-zA-ZáéíóúñÁÉÍÓÚÑ\s]{3,20}"
                                minlength="3"
                                maxlength="20"
                                required
                                autocomplete="off">
                        </section>
                    </div>
                    <div class="row">
                        <section class="my-2">
                            <label
                                for="f_expedicion_poliza"
                                class="form-label">
                                Fecha de expedición de póliza
                            </label>
                            <input
                                type="date"
                                class="form-control"
                                id="f_expedicion_poliza"
                                name="f_expedicion_poliza"
                                required
                                min="2015-01-01"
                                max="2035-01-01"
                                autocomplete="off">
                        </section>
                        <section class="my-2">
                            <label
                                for="f_vencimiento_poliza"
                                class="form-label">
                                Fecha de vencimiento de póliza
                            </label>
                            <input
                                type="date"
                                class="form-control"
                                id="f_vencimiento_poliza"
                                name="f_vencimiento_poliza"
                                required
                                min="2015-01-01"
                                max="2035-01-01"
                                autocomplete="off">
                        </section>
                    </div>
                    <div class="row">
                        <section
                            class="offset-md-3 col-md-6 offset-md-3 my-2">
                            <button
                                type="submit"
                                id="fcmPolizaSubmit"
                                class="btn btn-primary">
                                Registrar
                            </button>
                        </section>
                    </div>
                </form>
            </section>
        </section>
    </section>
</main>

<script defer src="arrendamientos/js/consulta_vehiculo.js"></script>