<div class="card m-3">
    <div class="card-header fs-5 text-center fw-bold">
        Informe Operativo
    </div>
    <div class="card-body">
        <div class="hstack gap-1">
            <button
                type="button"
                id="exportar"
                class="btn btn-success me-lg-1">
                    <i class="bi bi-file-earmark-pdf">PDF</i>
            </button>
            <button
                type="button"
                id="exportarExcel"
                class="btn btn-success">
                <i class="bi bi-file-earmark-excel">Excel</i>
            </button>
            <button
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#define_fecha"
                class="btn btn-primary my-1">
                Seleccionar fecha
            </button>
        </div>
        <table
            id="table_informe_operativo"
            class="table"
            data-toggle="table"
            data-locale="es-MX"
            data-search="true"
			data-filter-control="true"
            data-show-search-clear-button="true"
            data-show-footer="true"
            data-show-refresh="true"
            data-show-toggle="true"
            data-show-columns="true"
            data-silent-sort="false"
            data-page-size="10"
            data-loading-template="loadingTemplate"
            data-show-footer="true"
            data-row-style="rowStyle">
        </table>
    </div>
</div>
<!-- Modal fecha -->
<div
    class="modal fade"
    id="define_fecha"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="define_fechaLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-sm-down">
        <div class="modal-content">
            <div class="modal-header">
                <div
                    id="define_fechaLabel"
                    class="modal-title fs-5 fw-bold">
                    Define la fecha
                </div>
                <button
                    type="button"
                    data-bs-dismiss="modal"
                    aria-label="close"
                    class="btn-close">
                </button>
            </div>
            <div class="modal-body">
                <p class="fst-italic text-primary text-center">
                    La informacion mostrada será de arrendamientos
                    vigentes y penalizados, días transcurridos y restantes
                    se ven afectados por la fecha seleccionada.
                </p>
                <form
                    id="frm_d_io"
                    method="post"
                    enctype="multipart/form-data">
                    <label
                        for="f_informe_o"
                        class="form-label">
                        Seleccionar fecha
                    </label>
                    <input
                        type="datetime-local"
                        name="f_informe_o"
                        class="form-control my-1"
                        required>
                    <button
                        type="submit"
                        id="frm_d_io_submit"
                        class="btn btn-primary offset-md-4 col-md-4 mt-3">
                        Consultar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="arrendamientos/js/informe_operativo.js"></script>