<div class="box-menu" data-bs-toggle="offcanvas"
    data-bs-target="#offcanvas" aria-controls="offcanvas">
    <div class="wrapper">
        <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-start offcanvas-bg" tabindex="-1" id="offcanvas"
    aria-labelledby="offcanvasLabel">
    <div class="offcanvas-header">
        <img src="arrendamientos/images/icons/logo.png" id="offcanvasLabel" width="200" height="45">
        <button type="button" class="btn-close btn-close-white"
            data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
    </div>
    <div class="offcanvas-body scroll" style="overflow-y: auto;">
        <li li_id="home">
            <a class="nav-link moduleActive" href="#">Inicio</a>
        </li>
        <div class="dropdown">
            <a
                class="nav-link dropdown-toggle"
                role="link"
                aria-disabled="true">
                Registrar
            </a>
            <ul class="navlink-menu offcanvas-bg border-0">
                <li class="navlink-item" li_id="alta_cliente">
                    <a class="nav-link" href="#">Cliente</a>
                </li>
                <li class="navlink-item" li_id="alta_vehiculo">
                    <a class="nav-link" href="#">Vehículo</a>
                </li>
                <li class="navlink-item" li_id="alta_arrendamiento_previa">
                    <a class="nav-link" href="#">Arrendamiento</a>
                </li>
            </ul>
        </div>
        <div class="dropdown">
            <a
                class="nav-link dropdown-toggle"
                role="link"
                aria-disabled="true">
                Consultas
            </a>
            <ul class="navlink-menu offcanvas-bg border-0">
                <li class="navlink-item" li_id="consulta_cliente">
                    <a class="nav-link" href="#">Cliente</a>
                </li>
                <li class="navlink-item" li_id="consulta_vehiculo">
                    <a class="nav-link" href="#">Vehículo</a>
                </li>
                <li class="navlink-item" li_id="consulta_arrendamiento">
                    <a class="nav-link" href="#">Arrendamiento</a>
                </li>
            </ul>
        </div>
        <div class="dropdown">
            <a
                class="nav-link dropdown-toggle"
                role="link"
                aria-disabled="true">
                Entradas / Salidas
            </a>
            <ul class="navlink-menu offcanvas-bg border-0">
                <li class="navlink-item" li_id="aportaciones_capital">
                    <a class="nav-link" href="#">Aportaciones</a>
                </li>
                <li class="navlink-item" li_id="salidas_capital">
                    <a class="nav-link" href="#">Salidas de capital</a>
                </li>
                <li class="navlink-item" li_id="saldo_caja">
                    <a class="nav-link" href="#">Saldo en caja</a>
                </li>
            </ul>
        </div>
        <div class="dropdown">
            <a
                class="nav-link dropdown-toggle"
                role="link"
                aria-disabled="true">
                Gastos
            </a>
            <ul class="navlink-menu offcanvas-bg border-0">
                <li class="navlink-item" li_id="gastos_generales">
                    <a class="nav-link" href="#">Gastos Generales</a>
                </li>
                <li class="navlink-item" li_id="gastos_unidades">
                    <a class="nav-link" href="#">Gastos Unidades</a>
                </li>
            </ul>
        </div>
        <div class="dropdown" id="finanzas">
            <a
                role="link"
                aria-disabled="true"
                class="nav-link dropdown-toggle">
                Finanzas
            </a>
            <ul class="navlink-menu offcanvas-bg border-0">
                <li class="navlink-item" li_id="balance_general">
                    <a class="nav-link" href="#">Flujo de efectivo</a>
                </li>
                <li class="navlink-item" li_id="entradas_capital">
                    <a class="nav-link" href="#">Entradas de capital</a>
                </li>
                <li id="ia_li" class="navlink-item d-none" li_id="informe_administrativo">
                    <a class="nav-link" href="#">Informe Administrativo</a>
                </li>
                <li id="io_li" class="navlink-item d-none" li_id="informe_operativo">
                    <a class="nav-link" href="#">Informe Operativo</a>
                </li>
                <li id="id_li" class="navlink-item d-none" li_id="ingresos_diarios">
                    <a class="nav-link" href="#">Ingresos Diarios</a>
                </li>
                <li class="navlink-item" li_id="entradas_gastos">
                  <a class="nav-link" href="#">Utilidades</a>
                </li>
            </ul>
        </div>
        <div id="if_li" class="dropdown d-none">
            <a role="link" aria-disabled="true" class="nav-link dropdown-toggle">
              Rastreo
            </a>
            <ul class="navlink-menu offcanvas-bg border-0">
              <li class="navlink-item" li_id="webhookTraccar">
                <a class="nav-link" href="#">Gps Unidades </a>
              </li>
              <li class="navlink-item" li_id="addapi">
                <a class="nav-link" href="#">Agregar unidades <span class="badge badge-danger">Nuevo</span></a>
              </li>
              <li class="navlink-item" li_id="modapi">
                <a class="nav-link" href="#">Modificar unidades <span class="badge badge-danger">Nuevo</span></a>
              </li>
            </ul>
          </div>
          <div class="dropdown">
            <a role="link" aria-disabled="true" class="nav-link dropdown-toggle">
              Reportes de rastreo
            </a>
            <ul class="navlink-menu offcanvas-bg border-0">
              <li class="navlink-item" li_id="Reportes">
                <a class="nav-link" href="#">Odómetro /Combustible </a>
              </li>
            </ul>
          </div>
          <ul>
        <li class="nav-item"  li_id="user-info">
            <a class="nav-link" id="name_user" href="#">Mi perfil<span>Conectado</span></a>
        </li>
    </ul>
    </div>
</div>

<script src="arrendamientos/js/main.js"></script>

<main id="contenedor-modulos" class="d-flex justify-content-center
    align-self-center">
    <div class="card m-3 mx-sm-auto col-sm-8 col-lg-10">
        <h5 class="card-header text-center fw-bold">Flujo Semanal</h5>
        <div class="card-body col-12">
            <div id="clock" class="text-center d-none d-sm-block fs-5 py-1 my-1">
            </div>
            <canvas class="my-4 w-100" id="myChart" width="1260"
                height="532"></canvas>
        </div>
    </div>
    <script src="arrendamientos/js/graph.js"></script>
</main>

<footer class="fixed-bottom bg-dark">
    <div class="container text-center">
        <small class="text-white">ONAPPAFA 2024 &copy;</small>
    </div>
</footer>